body {
  background: lightblue;
}

.row {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: wheat;

  input,
  textarea {
    width: 200px;
    margin: 0.5rem;
  }

  textarea {
    max-width: 200px;
  }
}

.notes-container {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.note-card {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  position: relative;

  .remove-box {
    position: absolute;
    top: 0;
    right: 1.5rem;
    z-index: 1;
    padding: 0.1rem 0.5rem;
  }

  &.pinned {
    position: relative;
  }

  &.pinned::after {
    content: "!";
    color: red;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: inherit;
  }

  &:hover {
    transform: scale(1.05);
  }
}
